<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	      version="2.5">
  <display-name>Servlet Demo</display-name>
  <servlet>
		<servlet-name>SimpleEchoServlet</servlet-name>
		<servlet-class>internet.SimpleEchoServlet</servlet-class>
		<!-- <load-on-startup>1</load-on-startup> -->
	</servlet>
	
	<servlet-mapping>
        <servlet-name>SimpleEchoServlet</servlet-name>
        <url-pattern>/Echo</url-pattern>
    </servlet-mapping>
</web-app>
